<%= stylesheet_link_tag 'profile-page' %>

<%= stylesheet_link_tag 'dashboard' %>

<div class = "full-background">

        <div class="container dashboard-wrap">
          

          <div class = "col-md-3">
          <%= render partial: 'partials/current_user_bio_box' %>
          </div>  

          <div class="col-md-5">
            <div class="description-box shadow">
              <div class="name-box">
                <h2>Welcome Back,<%= current_user.first_name %>!</h2>      
              </div>  
            </div>  
          </div>
          

          <div class="col-md-5">
            <br>
            <%= render partial: 'partials/current_user_driver_listing' %>
            <%= render partial: 'partials/current_user_seat_listing' %>
            <br>
            <br>
            <h4>Looking to start a new journey?</h4><%= render partial: 'partials/search_box' %>
          </div> 
          
      





        </div>  

        <br>
        <br>
        <br>
        <br>  

</div>

    