<%= stylesheet_link_tag 'profile-page' %>

<%= stylesheet_link_tag 'dashboard' %>


  <div class="container dashboard-wrap">
    <div class="row">

      <div class="col-md-5 col-md-offset-1">
        <div class="content-box shadow">
          <div class="name-box">
            <h2>Welcome Back, <%= @user.first_name %>! </h2> 
            <a href="<%= show_user_path(@user.id)%>">
                <img class="img-responsive dp center small-pic" src="<%= @user.image %>" />
            </a>
          </div>
        </div> 
      </div>

      <div class="col-md-5">
        <div class="content-box shadow">
          <div class="name-box">
          <h3>Looking to start a new journey?</h3>
          </div>
          <%= render partial: 'partials/search_box_no_divs' %>
          <br/><br/>
        </div>
      </div>

    </div>

    <div class="row remove-top-padding">

      <div class="col-md-5 col-md-offset-1 remove-top-padding">
       
        <div class ="content-box">    
            <%= render partial: 'partials/current_user_driver_listing' %>
        </div>

      </div>

      <div class="col-md-5 remove-top-padding">
      
        <div class ="content-box">    
            <%= render partial: 'partials/current_user_seat_listing' %>
        </div>
            <br>
            <br> 
      </div> 

    </div> 
    <!-- End row -->

  </div>
  <!-- End container -->
  



        <br>
        <br>
        <br>
        <br>  


    