<%= stylesheet_link_tag 'profile-page' %>

<%= stylesheet_link_tag 'dashboard' %>

        <div class="container dashboard-wrap">
          

          <div class = "col-md-3">
          <a class="" href="#">
            <img class="img-responsive dp center" src="<%= current_user.image %>" /></a>
          </div>  

          <div class="col-md-5">
            <div class="description-box shadow">
              <div class="name-box">
                <h2>Welcome Back,<%= current_user.first_name %>!</h2>      
              </div>  
            </div>  
          </div>
          

  <div class="col-md-5">
        <div class ="content-box"    
            <%= render partial: 'partials/current_user_driver_listing' %>
        </div>

        <br>
        <br>
        
        <div class ="content-box">    
            <%= render partial: 'partials/current_user_seat_listing' %>
        </div>
            <br>
            <br>     
         <br>   
  
       <%= render partial: 'home/search_box_pause' %>


  </div> 
          

        </div>  

        <br>
        <br>
        <br>
        <br>  


    