<!-- Start bio box -->
    <div class="col-md-3">
      <div class="bio-box shadow">
        <a class="" href="#">
            <img class="img-responsive dp center" src="<%= current_user.image %>" />
        </a>
        <h3 class="name"><%= current_user.first_name %></h3>
        <h5 class="location"><%= current_user.city %>, <%= current_user.state %>, <%= current_user.country %><br/><small><%=@role%></small></h5>
        
        <hr style="margin:8px auto">
        <div class="interests center">
          <span class="label label-default">Star Wars</span>
          <span class="label label-default">Anime</span>
          <span class="label label-info">Phish</span>
          <span class="label label-default">Grateful Dead</span>
        </div>
      </div>
    </div>
    <!-- End bio-box -->