<!-- Start bio box -->
        <a class="" href="#">
            <img class="img-responsive dp center" src="<%= current_user.image %>" />
        </a>
        <div class = "name-box"
          <h3 class="name"><%= current_user.first_name %></h3>
          <h5 class="location"><%= current_user.city %>, <%= current_user.state %>, <%= current_user.country %><br/><small><%=@role%></small></h5>
        </div>
    <!-- End bio-box -->






    