<!-- Start bio box -->
    <div class="col-md-3 text-content shadow">
        <a class="" href="#">
            <img class="img-responsive dp center" src="<%= @user.image %>" />
        </a>
        <h3 class="name"><%= @user.first_name %></h3>
        <h5 class="location"><%= @user.city %>, <%= @user.state %>, <%= @user.country %><br/><small><%=@role%></small></h5>
    </div>
    <!-- End bio-box -->


