<div class="container">
  <div class="row">
    <!-- Start left-side boxes -->
    <br/>
  	<div class="col-md-3 col-md-offset-1">

      <!-- Start event info box -->
  		<div class="bio-box shadow">
        <a class="" href="#">
            <img class="img-responsive dp center" src="<%= @event.image %>" />
        </a>
        <h3 class="name"><%=@event.title%></h3>
        <h5 class="location"><%= @event.city %>, <%= @event.state %>, <%= @event.country %><br/><!-- TICKET SALES/COMMISSION??? <small><%=link_to @title,@tickets, target: "_blank"%></small> --></h5>
          <% if @event.start_datetime_local != nil #Render only if we have event times%>
          <h4><%=@event.start_datetime_local.strftime('%B %e, %Y')%></h4>
          <% end %>
      </div>
      <!-- End event info box -->

      <!-- Start ride offer box -->
      <div class="bio-box shadow">
        <br/>
        <%= render partial: 'events/ride_form' %>
      </div>
      <!-- End ride offer box -->

    </div>
    <!-- End left-side boxes -->

    <!-- Event description box -->
  	<div class="col-md-7 ">
      <!-- User description box -->
      <div class="description-box shadow">
     	  <div class="text-content">
          <p><%= @event.title %> No descriptions yet :( </p>
  		  </div>
      </div>
      <!-- User rides listing -->
      <div class="rides-box ">
        <div class="text-content">
          <div class="rides-box">
            <h3><i class="fa fa-road"></i> Rides</h3>
            <hr style="margin:8px auto">
         <!--    <ul class="cars">
              <li>Ride 1</li> 
              <li>Ride 2</li>
              <li>These will be dynamic</li>
            </ul> -->
            <% if @event.rides.count < 1 %>
              <h3><b>There's no rides yet... <br/></h3><h4>You're hitch-hiking to <%= @event.title %></b></h4>
            <%else%>
              <%= render partial: 'partials/rides' %>
            <%end%>

            <hr>
          </div>
        </div>
  	  </div>
    </div>
    <!-- End event description box -->

  </div> <!-- end row -->
</div> <!-- end container -->
