<%= stylesheet_link_tag 'stripe-buttons' %>

<div class = "container">

  <div id="new-ride-form">
    <h2>Create A New Ride</h2>

    <%= form_for @ride do |f| %>
      <div><%= f.label :title %><br />
      <%= f.text_field :title %></div>

      <div><%= f.label :origin %><br />
      <%= f.text_field :origin %></div>

      <div><%= f.label :max_seats %><br />
      <%= f.number_field :max_seats %></div>

      <div><%= f.label :price_per_seat %><br />
      <%= f.number_field :price_per_seat %></div>

      <div><%= f.label :departure_time_local %><br />
      <%= f.datetime_local_field :departure_time_local %></div>

      <div><%= f.label :image %><br />
      <%= f.text_field :image %></div>

      <br>
      <%= f.hidden_field :event_id, :value => @event.id %>
      
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.submit %>

    <% end %>
  </div>

  <div id="connect-with-stripe">
    <a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_3LvYQix7RmLTFkM3iWtZjkIgzLn3gMCG" class="stripe-connect"><span>Pay with Stripe</span></a>
  </div>

</div>



</div>

<script type="text/javascript">
    $(document).on('ready', function () {

      var new_ride_form =  $('#new-ride-form');
      var connect_with_stripe = $('#connect-with-stripe');
      new_ride_form.hide()
      connect_with_stripe.hide();



      if (<%= @user.stripe_enabled %> === false ) {
        connect_with_stripe.show();
      } else {
        new_ride_form.show();
      }       
    });

</script>
