<%= stylesheet_link_tag 'profile-page' %>
	<br/>
<div class="container">
  <div class="row">

    <!-- Start left column -->
    <div class="col-md-3 col-md-offset-1">

      <!-- Start ride info section -->
  		<div class="bio-box shadow">
        <a class="" href="#">
            <img class="img-responsive dp center" src="<%= @ride.image %>" />
        </a>
        <h3 class="name"><%= @ride.title %></h3>
        <h5 class="location">Leaving from <%= @ride.origin %>!<br/><small></small></h5>
        
        <hr style="margin:8px auto">
      </div>
      <!-- End ride info section -->

<hr>
      <!-- Driver bio section -->
      <div class="bio-box shadow">
        <a class="" href="/users/show/<%=@driver.id%>">
            <img class="img-responsive dp center" src="<%= @driver.image %>" />
        </a>
        <h3 class="name">I'm <%= @driver.first_name %>, get in my van!</h3>
        <h5 class="location"><%= @driver.city %>, <%= @driver.state %>, <%= @driver.country %><br/><small><%=@driver.role%></small></h5>
        
        <hr style="margin:8px auto">
        <div class="interests center">
          <span class="label label-default">Star Wars</span>
          <span class="label label-default">Anime</span>
          <span class="label label-info">Phish</span>
          <span class="label label-default">Grateful Dead</span>
        </div>
      </div>
      <!-- End driver bio section -->

    </div> 
    <!-- End left column-->

  	<div class="col-md-7">
      <!-- Ride description box -->
      <div class="description-box shadow">
        <div class="name-box">
          <h4><%= @ride.title %> is heading to <%=@ride.event.title%>!</h4>
        </div>
     	  <div class="text-content">
          <p><h3>Leaving on <%=@ride.departure_time_local.strftime('%B %e, %Y')%>, I've got <b style="color:red"><%=@ride.max_seats%></b> free seats and they cost <b style="color:green">$<%= @ride.price_per_seat %></b> a pop!</h3></p>
      
		      <%= render :partial => 'seats/form' %>
          
          <div>
  			    <h4>You'll be riding with these friendly folks:</h4>
  			    <% @ride.passengers.each do |rider| %>
                <h5><%= link_to rider.first_name, show_user_path(user_id: rider.id) %></h5>
  					<% end %> 
          </div>
        </div>
      </div>
    </div>

    <!-- Spacing div ;( -->
    <div class="col-md-1"></div> 

  </div> <!-- end row -->


 
  <!-- Start bio box -->
  <br/>
  
</div> <!-- end container -->

<script type="text/javascript">
 // Place in public/javascripts and make a global modal selector instead of #book_seat?
  $(document).ready(function() {
  $('#book_seat').click(function(e) {
    // var url = $(this).attr('href');
    var url = '<%= new_seat_path(ride_id:@ride.id) %>'
    var dialog_form = $('<div id="dialog-form">Loading form...</div>').dialog({
      autoOpen: false,
      width: 520,
      modal: true,
      open: function() {
        return $(this).load(url + ' #content');
      },
      close: function() {
        $('#dialog-form').remove();
      }
    });
    dialog_form.dialog('open');
    e.preventDefault();
  });
});

 // var url = '<%= new_seat_path %>'

  // var url =" <%= link_to 'Book A Seat!', new_seat_path, :id => 'create_seat' %>"

</script>
