<%= stylesheet_link_tag 'profile-page' %>
	<br/>
<div class="container">
  <div class="row">
    <div class="col-md-1 pull-left">
      <!-- Spacing div - there must be a better way! -->
    </div>
    <!-- Start bio box -->
  	<div class="col-md-3">
  		<div class="bio-box shadow">
        <a class="" href="#">
            <img class="img-responsive dp center" src="<%= @ride.image %>" />
        </a>
        <h3 class="name"><%= @ride.title %></h3>
        <h5 class="location">Leaving from <%= @ride.origin %>!<br/><small></small></h5>
        
        <hr style="margin:8px auto">
        <div class="interests center">
         
        </div>
      </div>
    </div>
    <!-- End bio-box -->

    <!-- Profile description box -->
  	<div class="col-md-7 ">
      <!-- User description box -->
      <div class="description-box shadow">
        <div class="name-box">
          <h4>heading to <%=@ride.event.title%>!</h4>
        </div>
     	  <div class="text-content">
          <p><h3>Leaving on <%=@ride.departure_time_local.strftime('%B %e, %Y')%>, I've got <b style="color:red"><%=@ride.max_seats%></b> free seats and they cost <b style="color:green">$<%= @ride.price_per_seat %></b> a pop!</h3></p>
          <br/>
          		<!-- Multiple Radios -->
      <div class="control-group">
        <label class="control-label" for="Trip-Length">Trip Length</label>
        <div class="controls">
          <label class="radio" for="Trip-Length-0">
            <input type="radio" name="Trip-Length" id="Trip-Length-0" value="One Way" checked="checked" required="required">
            One Way
          </label>
          <label class="radio" for="Trip-Length-1">
            <input type="radio" name="Trip-Length" id="Trip-Length-1" value="Round Trip" required="required">
            Round Trip
          </label>
        </div>
      </div>

			
      <!-- Button (Double) -->
      <div class="control-group">
        <label class="control-label" for="button1id"></label>

        <div class="controls">
          <button id="book_seat" name="button1id" class="btn btn-success">Book A Seat!</button>
          <button id="ask_question" name="button2id" class="btn btn-info">Ask Driver A Question</button>
        </div>

        <div>
			    <h4>You'll be riding with these friendly folks:</h4>
			    <% @ride.passengers.each do |rider| %>
					<li>
            <%= link_to rider.first_name, show_user_path(user_id: rider.id) %>
					<% end %> 
        </div>
      </div>
  		  </div>
      </div><br/>

      <div class="col-md-1 pull-right">
      <!-- Spacing div - there must be a better way! -->
      </div>
    </div>
    <!-- End profile description box -->
  </div> <!-- end row -->
  <!-- Start bio box -->
  <br/>
  <div class="col-md-1 pull-left">
      <!-- Spacing div - there must be a better way! -->
    </div>
  	<div class="col-md-3">
  		<div class="bio-box shadow">
        <a class="" href="/users/show/<%=@driver.id%>">
            <img class="img-responsive dp center" src="<%= @driver.image %>" />
        </a>
        <h3 class="name">I'm <%= @driver.first_name %>, get in my van!</h3>
        <h5 class="location"><%= @driver.city %>, <%= @driver.state %>, <%= @driver.country %><br/><small><%=@driver.role%></small></h5>
        
        <hr style="margin:8px auto">
        <div class="interests center">
          <span class="label label-default">Star Wars</span>
          <span class="label label-default">Anime</span>
          <span class="label label-info">Phish</span>
          <span class="label label-default">Grateful Dead</span>
        </div>
      </div>
    </div>
    <!-- End bio-box -->
</div> <!-- end container -->

<script type="text/javascript">
 // Place in public/javascripts and make a global modal selector instead of #book_seat?
  $(document).ready(function() {
  $('#book_seat').click(function(e) {
    // var url = $(this).attr('href');
    var url = '<%= new_seat_path(ride_id:@ride.id) %>'
    var dialog_form = $('<div id="dialog-form">Loading form...</div>').dialog({
      autoOpen: false,
      width: 520,
      modal: true,
      open: function() {
        return $(this).load(url + ' #content');
      },
      close: function() {
        $('#dialog-form').remove();
      }
    });
    dialog_form.dialog('open');
    e.preventDefault();
  });
});

 // var url = '<%= new_seat_path %>'

  // var url =" <%= link_to 'Book A Seat!', new_seat_path, :id => 'create_seat' %>"

</script>

<style type = "text/css">
  #dialog-form {
  border: 1px solid #ccc;
  padding: 20px;
}

.ui-widget {
  background: white;
}

.ui-widget-overlay {
  background: black;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.6;
}

</style>