<%= stylesheet_link_tag 'profile-page' %>
<%= stylesheet_link_tag 'ride' %>

	<br/>
<div class="container">
  <div class="row">

    <!-- Start left column -->
    <div class="col-md-3 col-md-offset-1">

      <!-- Start ride info section -->
  		
        <a class="" href="#">
            <img class="img-responsive dp center" src="<%= @ride.image %>" />
        </a>
        <h3 class="name"><%= @ride.title %></h3>
        <h5 class="location">Leaving from <%= @ride.origin %><br/><small></small></h5>
        
        <hr style="margin:8px auto">
      
      <!-- End ride info section -->

<hr>
      <!-- Driver bio section -->
    
        <a class="" href="/users/show/<%=@driver.id%>">
            <img class="img-responsive dp center" src="<%= @driver.image %>" />
        </a>
        <h3 class="name">Hi, I'm <%= @driver.first_name %>!</h3>
        <h5 class="location"><%= @driver.city %>, <%= @driver.state %><br/><small><%=@driver.role%></small></h5>
        
          
      <!-- End driver bio section -->

    </div> 
    <!-- End left column-->

  	<div class="col-md-7">
      <!-- Ride description box -->
      <div class="description-box shadow">
        <div class="name-box">
          <h4><%= @ride.title %> is heading to <%=@ride.event.title%>!</h4>
        </div>
     	  <div class="text-content">
          <p><h3>Leaving on <%=@ride.departure_time_local.strftime('%B %e, %Y')%>, I've got <b style="color:red"><span id='free_seats_count'><%= @free_seats %></span></b> free seats and they cost <b style="color:green">$<%= @ride.price_per_seat %></b> a pop each way!</h3></p>
          <div class="ride-description">
      
		      <%= render :partial => 'seats/form' %>
          
          <div>
  			    <h4>You'll be riding with these friendly folks:</h4>
  			    <% @ride.passengers.each do |rider| %>
                <h5><%= link_to rider.first_name, show_user_path(user_id: rider.id) %></h5>
                
  					<% end %> 
          </div>
        </div>
      </div>
    </div>


  </div> <!-- end row -->


 
  <!-- Start bio box -->
  <br/>
  
</div> <!-- end container -->


