<!DOCTYPE html>
<html>
<head>
	<%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag 'bootstrap' %>
  <%= stylesheet_link_tag 'footer' %>

 <title>FanFollow</title>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: 'partials/menu_bar' %>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>

<%= render partial: 'partials/footer' %>

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>

 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>


</body>
</html>
